{% extends 'AdminLte/base.html' %}
{% load static i18n widget_tweaks extra_tags %}
{% block extra_head %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'AdminLte/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminLte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- summernote -->
    <link rel="stylesheet" href="{% static 'AdminLte/plugins/summernote/summernote-bs4.min.css' %}">

{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% trans 'Product' %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item active">{% trans 'Product Form' %}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card card-outline card-primary">
                                <div class="card-header">

                                    <h3 class="card-title"><i
                                            class="fa fa-info head-icon"></i>{% trans 'Product Info' %}
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.name id="name" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.name_ar id="name_ar" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.description id="description" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.description_ar id="description_ar" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.sku id="sku" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.stock min=0 id="stock" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form_field=form.options class_name="select2" multiple="" style="width: 100%;" id="options" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.categories class_name="select2" multiple="" style="width: 100%;" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.brand class_name="select2" style="width: 100%;" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        {% check_tag form.publish %}
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        {% check_tag form.new %}
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        {% check_tag form.show_on_home_page %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="image">{{ form.main_image.label }}<span
                                                        style="color:red"> *</span></label>
                                                {{ form.main_image }}
                                            </div>
                                            <div style="color: red">
                                                {{ form.main_image.errors }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="image">{% trans 'Product Images' %}</label>
                                                <div class="row">
                                                    <div class="col-6" id="imagesDiv">
                                                        {% if form.instance.pk %}
                                                            <div style="text-align: center" class="row">
                                                                {% for img in product.images.all %}
                                                                    <div id="img{{ img.id }}" class="col-6">
                                                                        <img style="max-height: 50px"
                                                                             src="{{ img.image.url }}">
                                                                        <button id="{{ img.id }}" type="button"
                                                                                class="close" aria-label="Close"
                                                                                onclick="DelImg(this)">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <input type="hidden" name="delImg" id="delImg">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6 custom-file">
                                                        <input class="custom-file-input" type="file" name="images"
                                                               id="images"
                                                               multiple name="images">
                                                        <div class="input-group-append ">
                                                            <label style="margin-right: 10px" class="custom-file-label"
                                                                   for="exampleInputFile">{% trans 'Choose file' %}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                {% form_tag form.admin_comment rows='5' id="admin_comment" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="card card-outline card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i
                                            class="fas fa-dollar-sign head-icon"></i>{% trans 'Price' %}
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.price min=0 placeholder='EGP' id="price" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.old_price min=0 placeholder='EGP' id="old_price" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.product_cost min=0 placeholder='EGP' id="product_cost" %}
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                {% check_tag form.disable_buy_button %}
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                {% check_tag form.available_upon_request %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->


                            </div>
                            <div class="card card-outline card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-truck head-icon"></i>{% trans 'Shipping' %}
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.shipping_type class_name="select2" style="width: 100%;" id="shipping_type" %}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% check_tag form.not_returnable %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                {% form_tag form.additional_shipping_charge min=0 placeholder='EGP' id="additional_shipping_charge" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div id="enable-shipping" class="row">
                                        <div class="col-3">
                                            {% form_tag form.weight min=0 id="weight" %}
                                        </div>
                                        <div class="col-3">
                                            {% form_tag form.length min=0 id="length" %}
                                        </div>
                                        <div class="col-3">
                                            {% form_tag form.width min=0 id="width" %}
                                        </div>
                                        <div class="col-3">
                                            {% form_tag form.height min=0 id="height" %}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div style="margin-bottom: 15px;float: right;">
                                <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                {% if form.instance.pk %}
                                    {% if perms.products.delete_product %}
                                        <a href="{% url 'products:product_delete' form.instance.pk %}"
                                           type="submit" class="btn btn-danger">Delete
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <input type="submit"
                                           class="btn btn-success"
                                           name="another"
                                           value="{% trans 'Save And Add Another' %}">
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <!-- Select2 -->
    <script src="{% static 'AdminLte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'AdminLte/plugins/jquery.MultiFile.min.js' %}"></script>
    <!-- Summernote -->
    <script src="{% static 'AdminLte/plugins/summernote/summernote-bs4.min.js' %}"></script>

    <!-- Bootstrap Switch -->
    <script src="{% static 'AdminLte/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

    <script>
        function DelImg(btn) {
            $('#img' + btn.id).remove();
            $('#delImg').val($('#delImg').val() + btn.id + ',')
        }

        $('#shipping_type').change(function () {
            console.log($(this).find(":selected").val())
            let type = $(this).find(":selected").val();
            if (type == 1) {
                $('#enable-shipping').find('input').each(function () {
                    $(this).prop("disabled", true);
                    $(this).val('')
                });
                $('#additional_shipping_charge').prop("disabled", true);
                $('#additional_shipping_charge').val('');
            } else if (type == 0) {
                $('#enable-shipping').find('input').each(function () {
                    $(this).prop("disabled", false);
                });
                $('#additional_shipping_charge').prop("disabled", false);

            } else {
                $('#enable-shipping').find('input').each(function () {
                    $(this).prop("disabled", false);
                });
                $('#additional_shipping_charge').prop("disabled", true);
                $('#additional_shipping_charge').val('');
            }
        })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            // Summernote
            $('#description').summernote()
            $('#description_ar').summernote()
            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })
            $('.select2').select2({theme: 'bootstrap4'});
            $('#images').MultiFile({
                max_size: 10240,
                accept: 'jpg|jpeg|png',
                onFileAppend: function (element, value, master_element) {
                    console.log(element.files[0].name.split('.')[0])
                    var reader = new FileReader();
                    var img = new Image();
                    reader.onload = function (e) {
                        img.style.maxHeight = '50px';
                        img.src = e.target.result;
                        img.id = element.files[0].name.split('.')[0];
                    }
                    reader.readAsDataURL(element.files[0]);
                    $('#imagesDiv').append(img)
                },
                onFileRemove: function (element, value, master_element) {
                    console.log(element.files[0].name)
                    var id = '#' + element.files[0].name
                    console.log(id)
                    $('#' + element.files[0].name.split('.')[0]).remove()
                },
            })
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    {% include 'AdminLte/image_script.html' %}
{% endblock %}