{% extends 'AdminLte/base.html' %}
{% load static i18n extra_tags %}
{% block extra_head %}
    {% include 'AdminLte/datatable_head.html' %}
{% endblock %}
{% block body %}
    {% define perms.products.delete_product as delete %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% trans "Product" %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item active">{% trans 'Product' %}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>{% trans 'No' %}</th>
                                    {% if delete %}
                                        <th>#</th>
                                    {% endif %}
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'SKU' %}</th>
                                    <th>{% trans 'Price' %}</th>
                                    <th>{% trans 'Stock' %}</th>
                                    <th>{% trans 'Publish' %}</th>
                                    <th>{% trans 'Image' %}</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                <tr>
                                    <th>{% trans 'No' %}</th>
                                    {% if delete %}
                                        <th>#</th>
                                    {% endif %}
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'SKU' %}</th>
                                    <th>{% trans 'Price' %}</th>
                                    <th>{% trans 'Stock' %}</th>
                                    <th>{% trans 'Publish' %}</th>
                                    <th>{% trans 'Image' %}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block extra_script %}
    {% define perms.products.add_product as add %}
    {% define perms.products.delete_product as delete %}
    {% define perms.products.change_product as update %}
    {% include 'AdminLte/datatable_scripts.html' with add_perm=add del_perm=delete up_perm=update %}
    <script>
        {% if update %}
            const link = '/seller/product/update/'
            {# for num_render function in AdminLte/datatable_scripts.html #}
        {% endif %}
        {% if add %}
            const addLink = '{% url 'products:product_add' %}';
            {# for addBtn function in AdminLte/datatable_scripts.html #}
        {% endif %}
        $(document).ready(function () {
            $('#example1').dataTable({
                initComplete: function () {
                    this.api().columns({% if delete %}6{% else %}5{% endif %}).every(function () {
                        var column = this;
                        var select = $('<select style="margin-left: 15px"><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column.search(val).draw();
                            });
                        let a = '{% trans 'Publish' %}'
                        select.append('<option value="True">' + a + '</option>')
                        a = '{% trans 'Unpublish' %}'
                        select.append('<option value="False">' + a + '</option>')
                    });
                },
                responsive: true,
                autoWidth: false,
                order: [],
                dom: 'Bfrtip',
                buttons: buttons, {# global variable define in AdminLte/datatable_scripts.html #}
                language: dt_language, {# global variable define in AdminLte/datatable_scripts.html #}
                columns: [
                    {data: 0, render: num_render}, {# global function define in AdminLte/datatable_scripts.html #}
                    {% if delete %}
                        {
                            data: 0,
                            render: checkbox_render
                        }, {# global function define in AdminLte/datatable_scripts.html #}
                    {% endif %}
                    {data: 1},
                    {data: 2},
                    {data: 3},
                    {data: 4},
                    {data: 5, render: true_false_render},
                    {data: 6, render: img_render}, {# global function define in AdminLte/datatable_scripts.html #}
                ],
                {% if delete %}
                    columnDefs: [
                        {
                            targets: [2, 3, 4, 5],
                            className: 'align-middle text-center',
                            orderable: true,
                            searchable: true
                        },
                        {
                            targets: [0, 1, 6, 7],
                            className: 'align-middle text-center',
                            orderable: false,
                            searchable: false
                        }
                    ],
                {% else %}
                    columnDefs: [
                        {
                            targets: [1, 2, 3, 4,],
                            className: 'align-middle text-center',
                            orderable: true,
                            searchable: true
                        },
                        {targets: [0, 5, 6], className: 'align-middle text-center', orderable: false, searchable: false}
                    ],
                {% endif %}
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: false,
                ajax: {
                    'url': '{% url "products:product_list_data" %}',
                    'data': function (data) {
                    }
                }
            })
        });

    </script>
{% endblock %}