{% extends 'base.html' %}
{% load extra_tags i18n %}
{% block body %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="{{ product.main_image.url }}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {% for img in product.images.all %}
                                <img src="{{ img.image.url }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{% lang product.name product.name_ar %}</h3>
                        <div class="product__details__rating">
                            {% rate product.rate as r %}
                            {{ r|safe }}
                            <span>({{ product.rate_count }} reviews)</span>

                        </div>
                        <div class="product__details__price">{{ product.price }} EGP</div>
                        <p>{{ product.description }} </p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input id="quantity" type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a product_id="{{ product.pk }}" onclick="add_cart(this,document.getElementById('quantity'))"
                           class="primary-btn">ADD TO CARD</a>
                        <a product_id="{{ product.pk }}" onclick="add_wish(this)" class="heart-icon"><span
                                class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span>{% if product.stock > 0 %}In Stock{% else %}Out Of
                                Stock{% endif %} </span></li>
                            {#<li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>#}
                            <li><b>Weight</b> <span>{{ product.weight }} kg</span></li>
                            {#<li><b>Share on</b>#}
                            {#<div class="share">#}
                            {#<a href="#"><i class="fa fa-facebook"></i></a>#}
                            {#<a href="#"><i class="fa fa-twitter"></i></a>#}
                            {#<a href="#"><i class="fa fa-instagram"></i></a>#}
                            {#<a href="#"><i class="fa fa-pinterest"></i></a>#}
                            {#</div>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Description</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="false">Reviews <span>({{ product.rate_count }})</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{% lang product.description product.description_ar %}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    {% for review in product.reviews.all|slice:':5' %}
                                        <div class="row">

                                            <img class="img-review" src="{{ review.user.image.url }}">
                                            <div class="head">
                                                <h6 style="margin-bottom: -5px; ">{{ review.user }}</h6>
                                                <p style="font-size: 12px;">{{ review.created_at }}</p>

                                            </div>
                                            <div style="right: 0px;position: absolute;color: #EDBB0E;" class="head">
                                                {% rate review.rate as r %}
                                                {{ r|safe }}
                                            </div>

                                            <p class="par">{{ review.comment }}</p>

                                        </div>
                                    {% endfor %}
                                    {% if user.is_authenticated %}
                                        <div class="comment row">
                                            <img class="img-review" src="{{ user.image.url }}">
                                            <div class="hero__search__form form-div">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input class="comment-input" name="comment" type="text"
                                                           placeholder="{% trans 'Comment' %}">
                                                    <div class="rate">
                                                        <input type="radio" id="star5" name="rate" value="5"/>
                                                        <label for="star5" title="text">5 stars</label>
                                                        <input type="radio" id="star4" name="rate" value="4"/>
                                                        <label for="star4" title="text">4 stars</label>
                                                        <input type="radio" id="star3" name="rate" value="3"/>
                                                        <label for="star3" title="text">3 stars</label>
                                                        <input type="radio" id="star2" name="rate" value="2"/>
                                                        <label for="star2" title="text">2 stars</label>
                                                        <input type="radio" id="star1" name="rate" value="1"/>
                                                        <label for="star1" title="text">1 star</label>
                                                    </div>
                                                    <button style="padding: 9px 30px 30px;;height: 37px;" type="submit"
                                                            class="site-btn">{% trans 'COMMENT' %}</button>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for p in relate_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic">
                                <div class="set-bg">
                                    <img src="{{ p.main_image.url }}"/>
                                </div>
                                <ul class="product__item__pic__hover">
                                    <li><a product_id="{{ product.pk }}" onclick="add_wish(this)"><i
                                            class="fa fa-heart"></i></a></li>

                                    <li><a product_id="{{ product.pk }}" onclick="add_cart(this)"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <a href="{% url 'products:product' p.pk %}">{% lang product.name product.name_ar %}</a>
                                </h6>
                                <h5>{{ product.price }} EGP</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
{% endblock %}
