{% load static i18n %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>#}
<script src="{% static 'AdminLte/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'AdminLte/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script>
    const cart = '{% url 'products:cart_add_update' %}';
    const cart_del = '{% url 'products:delete_cart' %}';
    const wish = '{% url 'products:add_wish' %}';
    const wish_del = '{% url 'products:delete_wish' %}';

</script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
